<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/css/kotek-no.ico" />
    <title>Assassin cats!</title>
</head>

<body>
   {% include "navigation.html" %} 
    
    <div class="order">
     {% include "promo3.html" %}     
    </div>

</body>
</html>