<div class="container header">
        <div class="lobster logo" >Assassin cats!</div>
        <div class="container find">
        <form action="" method="post" class="search">
	      <input type="search" name="" placeholder="поиск" class="input" />
	      <input type="submit" name="" value="" class="submit" />
        </form>
        </div>
        
        <nav class="navig bebas">
            <a class="nav_link" href="../index.php">Главная</a>
            <a class="nav_link" href="../HTMorder.php">Как сделать заказ?</a>
            <div class="dropdown">
               <button class="dropbtn nav_link navig bebas">Меню</button>
               <div class="dropdown-content">
                 <a class="navig"  href="../about.php">О нас</a>
                 <a class="navig" href="../review.php">Наши достижения</a>
                 <a class="navig" href="../contacts.php">Контакты</a>
                </div>
            </div>
        </nav>
        
    </div>