<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/css/kotek-no.ico" />
    <title>Assassin cats!</title>
</head>

<body>
   {% include "navigation.html" %} 
    {% if bool==1 %}
    <div class="container ad2">
            <p class="ad_header2 bebas"> Ваш заказ принят! </p>
    </div>
    {% endif %}
    
    <div class="container">
        <form class="decor" action="../btn_order.php?num={{num}}&bool={{bool}}" method="post">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
                <p class="ad_header OpenSans">Сделать заказ</p>
                <input type="text" placeholder="Ваш номер с префиксом" name="number" required maxlength="20">
                <input type="text" placeholder="Город" name="city" required maxlength="20">
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>
</body>
</html>
